<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    
    <title>courses</title>
    <script src="https://unpkg.com/vue@next"></script>
    <style>
      .flag,.seal {
        width: 125px;
        padding: 10px;
      }
      .center {
        text-align: center;
      }
      table,
      tr,
      td,
      th {
        border: 1px solid black;
        border-collapse: collapse;
      }
    </style>
  </head>
  <body class="text-warning bg-dark">
    <h1 class="text-warning bg-dark">MWSU Courses Fall 21</h1>
    <hr />
    <div id="appArea">
    <div>
      <select name="Department" id="Department"v-model=pickeddepartment>
        <option value="">All Departments</option>
        <option value="AF">Academic Affairs</option>
        <option value="BIO">Biology</option>
        <option value="BUS">Business</option>
        <option value="CHE">Chemistry</option>
        <option value="COM">Communication</option>
        <option value="CSMP">Comp Science, Math & Physics</option>
        <option value="CJLG">Crim Justice & Legal Studies</option>
        <option value="EDU">Education</option>
        <option value="ET">Engineering Technology</option>
        <option value="FIN">Fine Arts</option>
        <option value="HP">Health Professions</option>
        <option value="HON">Honors Program</option>
        <option value="MIL">Military Science</option>
        <option value="NURS">Nursing</option>
        <option value="PSY">Psychology</option>
        <option value="SSH">Social Sciences & Humanities</option>
        <option value="CON">Western Institute</option>
        </select>

        <select name="Discipline" id="Discipline"v-model=pickeddiscipline>
        
        <option value="">All Subjects</option>
        <option value="ACC">Accounting</option>
        <option value="ALH">Allied Health</option>
        <option value="ACT">Applications of Computer Tech</option>
        <option value="MAS">Applied Science</option>
        <option value="ART">Art</option>
        <option value="BIO">Biology</option>
        <option value="CHE">Chemistry</option>
        <option value="CIN">Cinema</option>
        <option value="CLS">Clinical Laboratory Science</option>
        <option value="COM">Communication Studies</option>
        <option value="CSC">Computer Science</option>
        <option value="CET">Construction Engineering Tech</option>
        <option value="CED">Continuing Education   (WI)</option>
        <option value="CRJ">Criminal Justice</option>
        <option value="ESC">Earth Science</option>
        <option value="ECO">Economics</option>
        <option value="EDU">Education</option>
        <option value="EGT">Engineering Technology</option>
        <option value="ENG">English</option>
        <option value="ETC">English Technical Communication</option>
        <option value="ENT">Entrepreneurship</option>
        <option value="FIN">Finance</option>
        <option value="GBA">General Business</option>
        <option value="GEO">Geography</option>
        <option value="HDA">Health Data Analytics</option>
        <option value="HIF">Health Information Management</option>
        <option value="HIS">History</option>
        <option value="HON">Honors Program</option>
        <option value="HUM">Humanities</option>
        <option value="MIM">Information Management</option>
        <option value="JOU">Journalism</option>
        <option value="LAT">Legal Assistant</option>
        <option value="MGT">Management</option>
        <option value="MET">Manufacturing Engineering Tech</option>
        <option value="MKT">Marketing</option>
        <option value="MAT">Mathematics</option>
        <option value="MTE">Medical Technology</option>
        <option value="MIL">Military Science</option>
        <option value="MUS">Music</option>
        <option value="NUR">Nursing</option>
        <option value="PHL">Philosophy</option>
        <option value="PED">Physical Education</option>
        <option value="PTA">Physical Therapist Assistant</option>
        <option value="PHY">Physics</option>
        <option value="POL">Policing</option>
        <option value="PSC">Political Science</option>
        <option value="PSY">Psychology</option>
        <option value="RDG">Reading</option>
        <option value="RSM">Recreation Sport Management</option>
        <option value="SWK">Social Work</option>
        <option value="SOC">Sociology</option>
        <option value="SFM">Sport and Fitness Management</option>
        <option value="SCM">Supply Chain Management</option>
        <option value="TSL">Teaching Second Language</option>
        <option value="THR">Theatre</option>
        <option value="UNV">University Orientation</option>
        </select>

        <select name="Day" id="Day"v-model=pickedday>
          <option value="">Any Day</option>
          <option value="M">Mondays</option>
          <option value="T">Tuesdays</option>
          <option value="W">Wednesdays</option>
          <option value="R">Thurdays</option>
          <option value="MW">Mondays and Wednesdays</option>
          <option value="TR">Tuesdays And Thursdays</option>
          
        </select>

        <select name="Format" id="Format"v-model=pickedformat>
          <option value="">Any Fromat</option>
          <option value="100% Online">100% Online</option>
          <option value="Classroom w/Online Component">Classroom w/Online Component</option>
          <option value="Lecture, 100% in Classroom">Lecture, 100% in Classroom</option>
          <option value="Lab">Lab</option>
          <option value="Independent Research">Independent Research</option>
          <option value="Independent Study">Independent Study</option>
          <option value="Intern/Pract/Field Exp/Seminar">Intern/Pract/Field Exp/Seminar</option>
          <option value="Music Lessons/Ensemble">Music Lessons/Ensemble</option>
          
        </select>



        <label>CRN: </label>
        <input type="text" v-model="pickedcrn">

        <label>Course ID: </label>
        <input type="text" v-model="pickedid" v-on:input="lower">
        

        <label>Title: </label>
        <input type="text" v-model="pickedtitle" v-on:input="lower">
        <label>Instructor: </label>
        <input type="text" v-model="pickedinstructor" v-on:input="lower">

        

        
        
        
        
         
    </div>

    <!-- Adding a bootstrap grid? -->
    <div class="border">
      <!-- style="position:fixed" will allow for the top row to follow you as 
      you scroll down the page  -->
      <div class="row border sticky-top text-warning bg-dark" >
        <div class="col-sm text-sm-center border">CRN</div>
        <div class="col-sm text-sm-center border">Course</div>
        <div class="col-sm text-sm-center border">Section</div>
        <div class="col-sm text-sm-center border">Title</div>
        <div class="col-sm text-sm-center border">Day</div>
        <div class="col-sm text-sm-center border">Time</div>
        <div class="col-sm text-sm-center border">Format</div>
        <div class="col-sm text-sm-center border">Instructor</div>
        <div class="col-sm text-sm-center border">Credit Hours</div>
        <div class="col-sm text-sm-center border">Max Enrollment</div>
        <div class="col-sm text-sm-center border">Seats Available</div>
        <div class="col-sm text-sm-center border">Begin Date</div>
        <div class="col-sm text-sm-center border">End Date</div>
      </div>
      <div class="row border" v-for="sec of bypicked">
        <div class="col-sm text-sm-center border">{{sec.crn}}</div>
        <div class="col-sm text-sm-center border">{{sec.id}}</div>
        <div class="col-sm text-sm-center border">{{sec.sec}}</div>
        <div class="col-sm text-sm-center border">{{sec.title}}</div>
        <div class="col-sm text-sm-center border">{{sec.meetings[0].day}}</div>
        <div class="col-sm text-sm-center border">{{sec.meetings[0].time}}</div>
        <div class="col-sm text-sm-center border">{{sec.mode}}</div>
        <div class="col-sm text-sm-center border">{{sec.instructor}}</div>
        <div class="col-sm text-sm-center border">{{sec.credits}}</div>
        <div class="col-sm text-sm-center border">{{sec.enrollment.maximum_enrollment}}</div>
        <div class="col-sm text-sm-center border">{{sec.enrollment.seats_available}}</div>
        <div class="col-sm text-sm-center border">{{sec.course_dates.begin_date}}</div>
        <div class="col-sm text-sm-center border">{{sec.course_dates.end_date}}</div>
      </div>
    </div>
    <!-- <table>
        <tr>
            <th>CRN</th>
            <th>Course ID</th>
            <th>Section</th>
            <th>Title</th>
            <th>Day</th>
            <th>Time</th>
            <th>Format</th>
            <th>Instructor</th>
            <th>Credit Hours</th>
            <th>Max Enrollment</th>
            <th>Seats Available</th>
            <th>Begin Date</th>
            <th>End Date</th>
        </tr>
        <tr v-for="sec of bypicked">
            <td class=center>{{sec.crn}}</td>
            <td class=center>{{sec.id}}</td>
            <td class=center>{{sec.sec}}</td>
            <td>{{sec.title}}</td> 
            <td class=center>{{sec.meetings[0].day}}</td>
            <td class=center>{{sec.meetings[0].time}}</td>
            <td class=center>{{sec.mode}}</td>
            <td class=center>{{sec.instructor}}</td>
            <td class=center>{{sec.credits}}</td>
            <td class=center>{{sec.enrollment.maximum_enrollment}}</td>
            <td class=center>{{sec.enrollment.seats_available}}</td>
            <td class=center>{{sec.course_dates.begin_date}}</td>
            <td class=center>{{sec.course_dates.end_date}}</td>

        </tr>
    </table>     -->
    
    </div>
    <footer>
      <hr />
      <p>
        This is the footer.
        Jon programmed a good 90% of this.
        Nick and Riley made it look pretty.
      </p>
    </footer>
    <script src="./app.js"></script>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
  
  </body>
</html>